{{/* End dates are inclusive; return the next day/month/year in Toronto time. */}}
{{ $date := printf "%v" . }}
{{ $cutoff := time.AsTime "9999-01-01" "America/Toronto" }}
{{ if findRE `^\d{4}$` $date }}
  {{ $cutoff = (time.AsTime (printf "%s-01-01" $date) "America/Toronto").AddDate 1 0 0 }}
{{ else if findRE `^\d{4}-\d{2}$` $date }}
  {{ $cutoff = (time.AsTime (printf "%s-01" $date) "America/Toronto").AddDate 0 1 0 }}
{{ else if findRE `^\d{4}-\d{2}-\d{2}$` $date }}
  {{ $cutoff = (time.AsTime $date "America/Toronto").AddDate 0 0 1 }}
{{ else }}
  {{ errorf "Invalid member end_date %q: use a quoted YYYY, YYYY-MM, or YYYY-MM-DD date" $date }}
{{ end }}
{{ return $cutoff }}
